QdtJXCConnector/QdtJXCConnector/bin/
QdtJXCConnector/.vs/
QdtJXCConnector/QdtJXCConnector/obj/
QdtJXCConnector/UpgradeLog2.htm
QdtJXCConnector/UpgradeLog.htm
QdtJXCConnector/Utility/obj/Debug/Utility.pdb
QdtJXCConnector/Utility/obj/Debug/Utility.dll
QdtJXCConnector/Utility/obj/Debug/Utility.csproj.FileListAbsolute.txt
QdtJXCConnector/Utility/bin/Debug/Utility.pdb
QdtJXCConnector/Utility/bin/Debug/Utility.dll
QdtJXCConnector/HHModels/obj/Debug/Models.csprojResolveAssemblyReference.cache
QdtJXCConnector/HHModels/obj/Debug/Models.csproj.FileListAbsolute.txt
QdtJXCConnector/HHModels/obj/Debug/HHModels.pdb
QdtJXCConnector/HHModels/obj/Debug/HHModels.dll
QdtJXCConnector/HHModels/bin/Debug/Utility.pdb
QdtJXCConnector/HHModels/bin/Debug/Utility.dll
QdtJXCConnector/HHModels/bin/Debug/HHModels.pdb
QdtJXCConnector/HHModels/bin/Debug/HHModels.dll
QdtJXCConnector/DAL/obj/Debug/DAL.pdb
QdtJXCConnector/DAL/obj/Debug/DAL.dll
QdtJXCConnector/DAL/obj/Debug/DAL.csprojResolveAssemblyReference.cache
QdtJXCConnector/DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
QdtJXCConnector/DAL/bin/Debug/Utility.pdb
QdtJXCConnector/DAL/bin/Debug/Utility.dll
QdtJXCConnector/DAL/bin/Debug/HHModels.pdb
QdtJXCConnector/DAL/bin/Debug/HHModels.dll
QdtJXCConnector/DAL/bin/Debug/DAL.pdb
QdtJXCConnector/DAL/bin/Debug/DAL.dll
QdtJXCConnector/Utility/obj/Release/Utility.pdb
QdtJXCConnector/Utility/obj/Release/Utility.dll
QdtJXCConnector/Utility/obj/Release/Utility.csproj.FileListAbsolute.txt
QdtJXCConnector/Utility/bin/Release/Utility.pdb
QdtJXCConnector/Utility/bin/Release/Utility.dll
QdtJXCConnector/QdtJXCConnectorSetup/Release/QdtJXCConnectorSetup.msi
QdtJXCConnector/HHModels/obj/Release/Models.csprojResolveAssemblyReference.cache
QdtJXCConnector/HHModels/obj/Release/Models.csproj.FileListAbsolute.txt
QdtJXCConnector/HHModels/obj/Release/HHModels.pdb
QdtJXCConnector/HHModels/obj/Release/HHModels.dll
QdtJXCConnector/HHModels/bin/Release/Utility.pdb
QdtJXCConnector/HHModels/bin/Release/Utility.dll
QdtJXCConnector/HHModels/bin/Release/HHModels.pdb
QdtJXCConnector/HHModels/bin/Release/HHModels.dll
QdtJXCConnector/DAL/obj/Release/DAL.pdb
QdtJXCConnector/DAL/obj/Release/DAL.dll
QdtJXCConnector/DAL/obj/Release/DAL.csprojResolveAssemblyReference.cache
QdtJXCConnector/DAL/obj/Release/DAL.csproj.FileListAbsolute.txt
QdtJXCConnector/DAL/bin/Release/Utility.pdb
QdtJXCConnector/DAL/bin/Release/Utility.dll
QdtJXCConnector/DAL/bin/Release/HHModels.pdb
QdtJXCConnector/DAL/bin/Release/HHModels.dll
QdtJXCConnector/DAL/bin/Release/DAL.pdb
QdtJXCConnector/DAL/bin/Release/DAL.dll
